

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 body {
 	padding-top: 0px;
 }
 footer {
 	background-color: black;
 	width:100%;
 	position:absolute;
 	left:0;
 	right:0;
 }
.superjumbotron {

}
.navbar-header {
	height: 120px;
}
.navbar-logo {
  height: 105px;
  margin-top: 0px;
  margin-right: -40px;
}

.top {
	height: 120px;
}

#nav-bar {
	padding-top: 30px;
}
#footer-nav {
	width: 27.5%;
}

#banner-top {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top:0px;
	width: 101.5%;
	left: 0;
	right: 0;

}





